archive/NodeRED_flow.json
[{"id":"e19d8a29.a91258","type":"tab","label":"Monitoring Pi","disabled":false,"info":""},{"id":"ce92f298.e4c18","type":"ui_group","name":"Pi Monitor","tab":"21944da9.512162","order":1,"disp":true,"width":"6","collapse":false},{"id":"21944da9.512162","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"494ad9e.e6eb428","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86d1c553.b090f8","type":"mqtt-broker","name":"SailUI-broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2b8f45f2.9e8cba","type":"ui_group","name":"GPS","tab":"21944da9.512162","order":2,"disp":true,"width":"12","collapse":false},{"id":"5bd38b57.3648e4","type":"inject","z":"e19d8a29.a91258","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":140,"wires":[["7ca187d4.0917f8","abc05e1f.d308e","67a82dba.0c2484","5cb8521b.a16d9c"]]},{"id":"7ca187d4.0917f8","type":"exec","z":"e19d8a29.a91258","command":"python3 /home/pi/.node-red/pistats.py","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":470,"y":80,"wires":[[],[],[]]},{"id":"abc05e1f.d308e","type":"delay","z":"e19d8a29.a91258","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":140,"wires":[["fa04b26.031be5"]]},{"id":"d6dba025.829ed","type":"json","z":"e19d8a29.a91258","name":"","property":"payload","action":"obj","pretty":false,"x":670,"y":140,"wires":[["30c84360.de8cbc"]]},{"id":"fa04b26.031be5","type":"file in","z":"e19d8a29.a91258","name":"Read JSON","filename":"/home/pi/.node-red/pistats.JSON","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":530,"y":140,"wires":[["d6dba025.829ed"]]},{"id":"30c84360.de8cbc","type":"function","z":"e19d8a29.a91258","name":"Set flow variables","func":"flow.set('cpu',msg.payload[0].cputemp)\nflow.set('ramtotal',msg.payload[0].ramtotal)\nflow.set('ramused',msg.payload[0].ramused)\nflow.set('ramfree',msg.payload[0].ramfree)\nflow.set('disktotal',msg.payload[0].disktotal)\nflow.set('diskused',msg.payload[0].diskused)\nflow.set('diskperc',msg.payload[0].diskperc)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":140,"wires":[["ef5f7b4d.b11d18","50e77a1.e431084","8d7ed3c6.af00f","3a25f99e.ee6746"]]},{"id":"ef5f7b4d.b11d18","type":"function","z":"e19d8a29.a91258","name":"Get CPU","func":"cpu = flow.get('cpu');\nmsg.payload = cpu;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":40,"wires":[["d45309af.cb3c08"]]},{"id":"3a25f99e.ee6746","type":"function","z":"e19d8a29.a91258","name":"Set RAM","func":"var max = flow.get('ramtotal');\nmsg.payload = flow.get('ramused');\nmsg.ui_control = {\"min\":0,\"max\":max};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":80,"wires":[["b640a9c5.58afc8"]]},{"id":"50e77a1.e431084","type":"function","z":"e19d8a29.a91258","name":"Set Disk FREE","func":"var total = parseFloat(flow.get('disktotal'));\nvar used = parseFloat(flow.get('diskused'));\nvar free = total - used\nmsg.payload = free\nmsg.topi = 'Free space'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":120,"wires":[["a6555472.030b68"]]},{"id":"8d7ed3c6.af00f","type":"function","z":"e19d8a29.a91258","name":"Set Disk USED","func":"msg.payload = flow.get('diskused')\nmsg.topic = 'Used space'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":160,"wires":[["a6555472.030b68"]]},{"id":"67a82dba.0c2484","type":"function","z":"e19d8a29.a91258","name":"Clear chart FREE","func":"msg.payload = 0;\nmsg.topic = 'Free space';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":260,"wires":[["a6555472.030b68"]]},{"id":"5cb8521b.a16d9c","type":"function","z":"e19d8a29.a91258","name":"Clear chart USED","func":"msg.payload = 0;\nmsg.topic = 'Used space';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":300,"wires":[["a6555472.030b68"]]},{"id":"b640a9c5.58afc8","type":"ui_gauge","z":"e19d8a29.a91258","name":"RAM","group":"ce92f298.e4c18","order":1,"width":"0","height":"0","gtype":"gage","title":"Current RAM","label":"GB","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1270,"y":80,"wires":[]},{"id":"a6555472.030b68","type":"ui_chart","z":"e19d8a29.a91258","name":"Disk Space","group":"ce92f298.e4c18","order":2,"width":"0","height":"0","label":"SD Card disk space (GB)","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":200,"wires":[[]]},{"id":"371d9d90.cf4b12","type":"mqtt in","z":"e19d8a29.a91258","name":"gps/info/vitesse","topic":"gps/info/vitesse","qos":"2","datatype":"auto","broker":"86d1c553.b090f8","nl":false,"rap":true,"rh":0,"x":190,"y":480,"wires":[["917a91c5.af754"]]},{"id":"917a91c5.af754","type":"json","z":"e19d8a29.a91258","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":480,"wires":[["e3962a5d.ad2e98"]]},{"id":"e3962a5d.ad2e98","type":"ui_chart","z":"e19d8a29.a91258","name":"Vitesse","group":"2b8f45f2.9e8cba","order":6,"width":"6","height":"4","label":"Vitesse (kn)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":580,"y":480,"wires":[[]]},{"id":"dd7b43cb.bc9eb","type":"mqtt in","z":"e19d8a29.a91258","name":"gps/info/cap","topic":"gps/info/cap","qos":"2","datatype":"auto","broker":"86d1c553.b090f8","nl":false,"rap":true,"rh":0,"x":170,"y":540,"wires":[["dae5c5c8.368068"]]},{"id":"dae5c5c8.368068","type":"json","z":"e19d8a29.a91258","name":"","property":"payload","action":"obj","pretty":false,"x":390,"y":540,"wires":[["d6fdb62f.2c6108"]]},{"id":"d6fdb62f.2c6108","type":"ui_chart","z":"e19d8a29.a91258","name":"Cap","group":"2b8f45f2.9e8cba","order":5,"width":0,"height":0,"label":"Cap vrai (deg)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"360","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":570,"y":540,"wires":[[]]},{"id":"1489030.7f22efd","type":"mqtt in","z":"e19d8a29.a91258","name":"gps/server_status/state","topic":"gps/server_status/state","qos":"2","datatype":"auto","broker":"86d1c553.b090f8","nl":false,"rap":true,"rh":0,"x":230,"y":440,"wires":[["bec8d73e.0e39c8"]]},{"id":"bec8d73e.0e39c8","type":"json","z":"e19d8a29.a91258","name":"","property":"payload","action":"","pretty":false,"x":460,"y":440,"wires":[["e5662d25.df17d"]]},{"id":"e5662d25.df17d","type":"ui_text","z":"e19d8a29.a91258","group":"2b8f45f2.9e8cba","order":3,"width":0,"height":0,"name":"","label":"Etat GPS server:","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":440,"wires":[]},{"id":"d45309af.cb3c08","type":"ui_chart","z":"e19d8a29.a91258","name":"CPU Température","group":"ce92f298.e4c18","order":3,"width":0,"height":0,"label":"CPU Température (°C)","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1310,"y":40,"wires":[[]]}]